.git
.github
.vscode
.idea
.nova
.zed
node_modules
vendor
bootstrap/cache/*.php
storage/*.key
storage/pail
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
public/storage
tests
.env
.env.backup
.env.production
*.log
.phpunit.result.cache
.phpunit.cache
docker-compose.yml
README.md
